* {
  margin: 0;
  padding: 0;
}

li {
  background-color: aliceblue;
  border: 1px solid red;
}



button:hover {
  cursor: pointer;
}

#modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  overflow: auto;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
}

#modalContainer>form {
  background-color: rgb(170, 170, 170);
  border: 1px solid rgb(150,150,150);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
}

.input {
  display: flex;
  flex-direction: column;
}

.inputHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeModal {
  display: flex;
  padding: 0px;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 100%;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
}